<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456288437119-fbvbruli5jkqkl545nvt403h1e35llve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456288437119-fbvbruli5jkqkl545nvt403h1e35llve</string>
	<key>API_KEY</key>
	<string>AIzaSyAS_RIRl8glJKJRPz7kEj60mNhD6ZGz7YE</string>
	<key>GCM_SENDER_ID</key>
	<string>456288437119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.techan.Spotlx</string>
	<key>PROJECT_ID</key>
	<string>spotlx</string>
	<key>STORAGE_BUCKET</key>
	<string>spotlx.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456288437119:ios:46882f25779655f7a2904a</string>
</dict>
</plist>