extends baseEmail
 
block content
   .container 
    p Hello #{firstName}
    p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to:  
    a.reset(href=`${url}` target="blank") Reset Password
    p If you didn't forget your password, please ignore this email.