.header {
  background: rgba(67, 104, 80);
  padding: 15px;
  color: #eef0e5;
  display: flex;
  align-items: center;
}
.container {
  color: #555335;
}
.logo {
  font-size: 16px;
  font-family: san-serif;
  font-weight: bold;
  color: rgba(210, 183, 116, 1);
}
.logo-img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.main {
  width: 100%;
  padding: 20px;
  background-color: #eef0e5;
  /* color:; */
}
.footer {
  display: flex;
  align-items: center;
  background: rgba(67, 104, 80);
  color: #eef0e5;

  padding: 15px 10px;
}
.footer-link {
  display: flex;
  align-items: center;
}
.footer-link a {
  color: rgba(210, 183, 116, 1);
}
