extends baseEmail
 
block content
   .container 
      p Hello, 
      p Thank you for subscribing to Brackifi! Get ready for exclusive updates and the latest news on all things technology and business. We're thrilled to have you on board.
      p Stay tuned for exciting content!
      p.best Best,
      p The Brackifi Team.
        