extends baseEmail
 
block content
   .container 
      p Hello #{firstName}, 
      p Welcome to brackifi shareholders. 
      p At the moment, your creadentials are being reviewed. This usually  takes a working day for the whole process before you can login. Please check your mail from time to time for our mail.
      p Thank you.
      div 
        p Yusha Shehu,
        p CEO, Brackifi.
        