extends baseEmail
 
block content
   .container 
      p.name Hello #{firstName}, 
      p Welcome to Brackifi! We are delighted to have you on board. Currently, we are reviewing your credentials, a process that typically takes one business day. Once completed, you will be able to log in and access your account.
      p Please monitor your email for further updates and instructions.
      p Thank you for your patience and welcome again to Brackifi!
      div 
         p Best regards
         p Yusha Shehu,
         p CEO, Brackifi.